<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mavi.maneviyolculuk">

    <uses-feature android:name="android.hardware.touchscreen.multitouch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icoo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Author"
            android:label="@string/title_activity_author"
            android:parentActivityName=".Main"></activity>

        <activity
            android:name=".Items"
            android:label="@string/title_activity_items"
            android:parentActivityName=".Main"></activity>

        <activity
            android:name=".SubItems"
            android:label="@string/title_activity_sub_items"
            android:parentActivityName=".Items"></activity>

        <activity
            android:name=".Contents"
            android:label="@string/title_activity_contents"></activity>

    </application>

</manifest>